.profile-stats {
  background: #388893;
  color:#fff;
  text-align: center;
  padding: 15px 10px 10px;
}

.profile-stats ul {
  padding: 0;
}
.profile-stats li {
  list-style: none;
  display: inline-block;
  margin-right: 40px;
}
.profile-stats li:last-child {
  margin-right:0;
}
.profile-stats a { 
  color:#fff;
}

.profile-stats i { 
  font-size:1.5rem;
  font-weight:700;
  font-style: normal;
  display: block;
}

.profile-stats span {
  font-size:.844rem;
  letter-spacing:.0625rem;
  color:#fff;
}